.clients__title {
  color: $title-text-color;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  margin-bottom: 50px;
  text-align: center;
}

.clients__list {
  display: flex;
}
.clients__blok {
  margin-right: 30px;
  &:last-child {
    margin-right: 0;
  }
}

.clients__svg {
  width: 106px;
  height: 60px;
  fill: $soc-logo-color;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__icon:focus,
.clients__icon:hover {
  fill: $accent-color;
  color: $soc-logo-color;
  .clients__link:hover &,
  .clients__link:focus & {
    fill: $accent-color;
  }
}

.clients__link {
  display: flex;
  width: 170px;
  height: 92px;
  border: 1px solid $soc-logo-color;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    border-color: $accent-color;
  }
}
