/* CONTACTS */

.contact {
  margin-left: auto;
  align-items: baseline;
  @media screen and (min-width: 1200px) {
    display: flex;
    margin-left: auto;
  }
}

.contact__item {
  &:not(:last-child) {
    margin-right: 50px;
  }
  @media screen and (max-width: 1199px) {
    &:not(:last-child) {
      margin-bottom: 10px;
      margin-right: 0px;
    }
  }
}

.contact__link {
  color: $primary-text-color;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.contact__icon {
  fill: currentColor;
  margin-right: 10px;
}

.contact__link--phone {
  @media screen and (min-width: 1200px) {
  }
}

.contact__icon {
  margin-right: 8px;
  fill: currentColor;
  @media screen and (min-width: 1200px) {
    width: 16px;
    height: 12px;
    margin-right: 8px;
  }
}

.contact__icon--mail {
  width: 14px;
  height: 10px;
  @media screen and (min-width: 1200px) {
    width: 16px;
    height: 12px;
  }
}

.contact__icon--phone {
  width: 10px;
  height: 14px;
  @media screen and (min-width: 1200px) {
    width: 10px;
    height: 16px;
  }
}

.contact__item {
  @media screen and (min-width: 1200px) {
    &:not(:last-child) {
      margin-right: 50px;
    }
  }
}

.contact__item--phone {
  @media screen and (max-width: 1199px) {
    margin-bottom: 0;
  }
}
