.footer__item {
  margin-bottom: 9px;
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  color: $white-text-color;
  &:last-child {
    margin-bottom: 0;
  }
}

.footer__link {
  margin-bottom: 9px;
  color: $primary-text-color;
  font-weight: 500;
  font-size: 14px;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.footer-address {
  margin-top: 20px;
}
.footer {
  background-color: $black-bg-color;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__connect {
  flex-grow: 1;
}

.footer__container {
  display: flex;
  align-items: baseline;
}

.footer__title {
  color: $white-text-color;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.footer__soclist {
  display: flex;
  justify-content: center;
}
.footer__socitem:not(:last-child) {
  margin-right: 10px;
}

.footer__soclink {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: $accent-color;
    border-radius: 50%;
  }
  &:hover .footer__icon-svg,
  &:focus .footer__icon-svg {
    fill: $white-text-color;
  }
  &:hover,
  &:focus {
    background-color: $accent-color;
    border-radius: 50%;
  }
}

.footer__flex-box {
  margin-left: 70px;
}

.contact a {
  text-decoration-line: none;
  display: inline-flex;
  align-items: flex-end;
  justify-content: center;
  align-items: center;
}

.footer__icon-svg {
  width: 20px;
  height: 20px;
  fill: $white-text-color;
}
