.soc-list__item {
  width: 44px;
  height: 44px;
  & + .soc-list_item {
    margin-left: 10px;
  }
}
.soc-link {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    background-color: $accent-color;
    border-radius: 50%;
  }
}

.soc-list {
  display: flex;
  justify-content: center;
}

.soc-link__icon {
  width: 20px;
  height: 20px;
  fill: $soc-logo-color;
  soc-link:hover &,
  soc-link:focus & {
    fill: $white-text-color;
  }
}
