$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$white-text-color: #ffffff;
$black-bg-color: #2f303a;
$button-grey-color: #f5f4fa;
$logo-black: #000000;
$primary-gap: 30px;
$soc-logo-color: #afb1b8;
